@typeparam DetailsType


@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms



<EditForm Model="@Item" OnValidSubmit="@(() => OnSave.InvokeAsync(Item))">
    <DataAnnotationsValidator />

    @if(Fields != null && Item != null)
    {
        @Fields(Item);
    }

    <button type="button" class="btn btn-default" @onclick="OnCancel">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>


@code {

    [Parameter]
    public RenderFragment<DetailsType>? Fields { get; set; }

    [Parameter]
    public DetailsType? Item { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<DetailsType> OnSave { get; set; }
}